.calculator{
    background-color:black;
    flex-wrap: wrap;
    width:200px;
    padding:10px;
    border-radius:7px;
    margin-bottom: 10px;
}
h1{
    color:orange;
}

#display{
    width:190px;
    height: 30px;
}

.btn{
     border-radius: 50%;
      margin:5px;
      padding:10px;
}
